:root{
    --gradient-color: linear-gradient(90deg,red 0%,cyan 100%)
}

section.banner-area{
    padding-top: 10%;
    padding: 8rem, 5rem;
}

section.my-services-area{
    padding-top: 25%;
    padding: 8rem, 5rem;
}

section.about-me-area{
    padding-top: 25%;
    padding: 8rem, 5rem;
}

section.my-work-area{
    padding-top: 25%;
    padding: 8rem, 5rem;
    padding-bottom: 25%;
}

.anon{
    font-family:'Anonymous Pro';
    font-size: 48px;
}
.majormono{
    font-family: 'Major Mono Display', monospace;
    font-weight: 600!important;
    /* text-shadow: -0.08em 0 red, 0.08em 0 cyan; */
}
.papyrus{
    font-family: 'papyrus';
}
.bigpx{
    font-size: 28px;
}

button{
    margin-right: 4px;
    margin-left: 10px;
    padding: .5rem 1rem;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
    font-size: 16px/20px;  
}

button.fancy-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);
}
button.fancy-button:hover{
    background: white;
    background-clip: padding-box;
    color: black;
}
button.fancy-button::after,button.fancy-button-secondary::after{
    position: absolute;
    top: -2px; 
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 50rem!important;
}
button.fancy-button-secondary{
    background: white;
    background-clip: padding-box;
    color: black;
}
button.fancy-button-secondary:hover{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background.6s ease;
    box-shadow: var(--box-shadow);
}
a.fancy-button-secondary{
    color: black;
    
}
a.fancy-button-secondary:hover{
    color: whitesmoke;
}

